<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mikeyferguson.mediasync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/mikeyferguson/Developer/Media-Orchestrator/Media-Syncer/run_media_sync.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/mikeyferguson/Library/Logs/MediaSync.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mikeyferguson/Library/Logs/MediaSync.err</string>
</dict>
</plist>